.conteiner{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
}
.apresentacao.secao{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   width: 100%;
   min-height: 100svh;
}
.apresentacao.secao::after{
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100svw;
   min-height: 100svh;
   background-image: url(../imagens/fundo.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.1;
   z-index: -1;
}
.apresentacao.secao::before{
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   width: 100svw;
   min-height: 100svh;
   background-color: #181927;
   z-index: -2;
}
.tema .apresentacao.secao::before{
   background-color: #fee7ba;
}
.secao .cabecalio{
   margin-top: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 75%;
   height: 60px;
}
.secao .cabecalio .titulo{
   color: #862fde;
   font-size: 2em;
   text-decoration: underline;
}
.tema .secao .cabecalio .titulo{
   color: #000;
}
.secao .cabecalio .botao{
   background-color: transparent;
   cursor: pointer;
}
.secao .div-secao-apresentacao{
   margin-top: 5px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 2fr;
   width: 75%;
   min-height: calc(100svh - 80px);
}
.secao .div-secao-apresentacao .div-apresentacao{
   grid-row-start: 1;
   grid-row-end: 3;
   grid-column-start: 1;
   grid-column-end: 2;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.secao .div-secao-apresentacao .div-apresentacao .texto-apresentacao{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   min-width: 500px;
   height: 250px;
   margin: 0 auto;
   padding: 15px;
   font-size: 1.8em;
}
.secao .div-secao-apresentacao .div-apresentacao .texto-apresentacao h2{
   text-align: end;
   color: #862fde;
}
.tema .secao .div-secao-apresentacao .div-apresentacao .texto-apresentacao h2{
   text-align: end;
   color: #000;
}
.secao .div-secao-apresentacao .div-apresentacao .texto-apresentacao strong{
   color: #862fde;
}
.tema .secao .div-secao-apresentacao .div-apresentacao .texto-apresentacao strong{
   color: #000;
}
.secao .div-secao-apresentacao .div-apresentacao .texto-apresentacao p{
   color: #5ac1e1;
}
.tema .secao .div-secao-apresentacao .div-apresentacao .texto-apresentacao p{
   color: #000;
}
.secao .div-secao-apresentacao .div-sobre-min{
   grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 2;
   grid-column-end: 3;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
   padding: 15px 15px 30px 15px;
}
.secao .div-secao-apresentacao .div-sobre-min .texto-sobre-min{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   max-width: 500px;
   min-height: 250px;
   margin: 0 auto;
   padding: 15px;
   text-align: justify;
   font-size: 1.4em;
}
.secao .div-secao-apresentacao .div-sobre-min .texto-sobre-min div{
   margin: 15px 0;
   color: #5ac1e1;
}
.tema .secao .div-secao-apresentacao .div-sobre-min .texto-sobre-min div{
   margin: 15px 0;
   color: #000;
}
.secao .div-secao-apresentacao .div-sobre-min .texto-sobre-min a{
   color: #862fde;
}
.tema .secao .div-secao-apresentacao .div-sobre-min .texto-sobre-min a{
   color: #000;
}
.secao .div-secao-apresentacao .div-links{
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 2;
   grid-column-end: 3;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px;
}
.secao .div-secao-apresentacao .div-links .links{
   display: flex;
   justify-content: space-between;
   gap: 20px;
}
.secao .div-secao-apresentacao .div-links img{
   width: 100px;
}